<html>
    <head>

    </head>
    <body>
        <h1>Contact Page</h1>
        <p>Welcome to the contact page</p>
        <form>
            <input type="text" name="firstname", placeholder="firstname" required='required'>
            <input type="text" name="lastname", placeholder="lastname" required='required'>
            <input type="email" name="email", placeholder="email" required='required'>
            <input type="number" name="phone number", placeholder="phone number" required='required'>
        </form>
    </body>
</html>